@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	background: white;
	display: flex;
	justify-content: center;
	padding-top: 15%;
}

h5 {
	margin-bottom: 16px;
}

.container {
	width: 100%;
	padding: 20px;
	border-radius: 16px;
	border: 1px solid #00a8ff;
}

.title {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.form,
.field {
	display: flex;
	flex-direction: column;
}

.form {
	padding: 16px 0;
}

input {
	padding: 8px 8px;
	margin: 4px 0;
	border-radius: 4px;
	border: 1px solid black;
}

.submit-btn,
.delete-btn {
	margin: 16px 0;
	padding: 12px;
	color: #f5f6fa;
	border-radius: 24px;
	border: none;
}

.submit-btn {
	background: #fa6900;
}

.submit-btn[disabled] {
	background: #dcdde1;
}

.delete-btn {
	width: 100%;
	background: #00a8ff;
}

.todo-list {
	padding: 16px;
	border: 1px solid #dcdde1;
	border-radius: 8px;
}

.checkbox {
	margin-right: 8px;
}
